.mainlogo
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.icon
{
    font-size: 25px;
}

.icons
{
display: flex;
gap: 20px;
}
.logopara
{
    font-size: 14px;
}